	.left-sec {
			display: inline-block;
			width: 25%;
		}
		.right-sec {
			display: inline-block;
			width: 74%;
			vertical-align: top;
		}
		table, tr, td, th {
			border: 1px solid black;
		}
		thead {
			height: 40px;
			background: #cfcfcf;
			color: #000;
			line-height: 40px;
			text-align: center;
			font-size: 18px;
			font-weight: bolder;
			text-transform: capitalize;
		}
		tr {
			height: 40px;
			line-height: 40px;
			font-size: 18px;
			text-align: center;
		}